<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.yunyingbaobiao4.mapper.MockWykjYunyingbaobiao4Mapper">
    
    <resultMap type="MockWykjYunyingbaobiao4" id="MockWykjYunyingbaobiao4Result">
        <result property="a0"    column="a0"    />
        <result property="a1"    column="a1"    />
        <result property="a2"    column="a2"    />
        <result property="a3"    column="a3"    />
        <result property="a4"    column="a4"    />
        <result property="a5"    column="a5"    />
        <result property="a6"    column="a6"    />
        <result property="a7"    column="a7"    />
        <result property="id"    column="id"    />
    </resultMap>

    <sql id="selectMockWykjYunyingbaobiao4Vo">
        select a0, a1, a2, a3, a4, a5, a6, a7, id from mock_wykj_yunyingbaobiao4
    </sql>

    <select id="selectMockWykjYunyingbaobiao4List" parameterType="MockWykjYunyingbaobiao4" resultMap="MockWykjYunyingbaobiao4Result">
        <include refid="selectMockWykjYunyingbaobiao4Vo"/>
        <where>  
            <if test="a0 != null  and a0 != ''"> and a0 = #{a0}</if>
            <if test="a1 != null  and a1 != ''"> and a1 = #{a1}</if>
            <if test="a2 != null  and a2 != ''"> and a2 = #{a2}</if>
            <if test="a3 != null  and a3 != ''"> and a3 = #{a3}</if>
            <if test="a4 != null  and a4 != ''"> and a4 = #{a4}</if>
            <if test="a5 != null  and a5 != ''"> and a5 = #{a5}</if>
            <if test="a6 != null  and a6 != ''"> and a6 = #{a6}</if>
            <if test="a7 != null  and a7 != ''"> and a7 = #{a7}</if>
        	<if test="a0StartTimeReq != null  and a0StartTimeReq != '' "> and a0 <![CDATA[ >= ]]> #{a0StartTimeReq}</if>
            <if test="a0EndTimeReq != null  and a0EndTimeReq != '' "> and a0 <![CDATA[ <= ]]> #{a0EndTimeReq}</if>
        </where>
        
        order by id desc
    </select>
    
    <select id="selectMockWykjYunyingbaobiao4ById" parameterType="Long" resultMap="MockWykjYunyingbaobiao4Result">
        <include refid="selectMockWykjYunyingbaobiao4Vo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMockWykjYunyingbaobiao4" parameterType="MockWykjYunyingbaobiao4" useGeneratedKeys="true" keyProperty="id">
        insert into mock_wykj_yunyingbaobiao4
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="a0 != null">a0,</if>
            <if test="a1 != null">a1,</if>
            <if test="a2 != null">a2,</if>
            <if test="a3 != null">a3,</if>
            <if test="a4 != null">a4,</if>
            <if test="a5 != null">a5,</if>
            <if test="a6 != null">a6,</if>
            <if test="a7 != null">a7,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="a0 != null">#{a0},</if>
            <if test="a1 != null">#{a1},</if>
            <if test="a2 != null">#{a2},</if>
            <if test="a3 != null">#{a3},</if>
            <if test="a4 != null">#{a4},</if>
            <if test="a5 != null">#{a5},</if>
            <if test="a6 != null">#{a6},</if>
            <if test="a7 != null">#{a7},</if>
         </trim>
    </insert>

    <update id="updateMockWykjYunyingbaobiao4" parameterType="MockWykjYunyingbaobiao4">
        update mock_wykj_yunyingbaobiao4
        <trim prefix="SET" suffixOverrides=",">
            <if test="a0 != null">a0 = #{a0},</if>
            <if test="a1 != null">a1 = #{a1},</if>
            <if test="a2 != null">a2 = #{a2},</if>
            <if test="a3 != null">a3 = #{a3},</if>
            <if test="a4 != null">a4 = #{a4},</if>
            <if test="a5 != null">a5 = #{a5},</if>
            <if test="a6 != null">a6 = #{a6},</if>
            <if test="a7 != null">a7 = #{a7},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMockWykjYunyingbaobiao4ById" parameterType="Long">
        delete from mock_wykj_yunyingbaobiao4 where id = #{id}
    </delete>

    <delete id="deleteMockWykjYunyingbaobiao4ByIds" parameterType="String">
        delete from mock_wykj_yunyingbaobiao4 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>